:root {
  --font-color: #fff;
  --bg-color: #1f253d;
  --primary-color: #394264;
  --primary-color-light: #50597b;
  --secondary-color: #e64c65;
  --highlight-color: #11a8ab;
  --feedback-color: #f2c57c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1 {
  margin-top: 0px;
}

::placeholder {
  color: #9099b7;
  font-size: 0.9rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input-container {
  border: 1px solid var(--bg-color);
  background-color: var(--primary-color-light);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  transition: 250ms;
}

.input-container input {
  margin-left: 0.25rem;
  border: none;
  outline: none;
  background: inherit;
  color: var(--font-color);
}

.input-container:focus-within {
  border: 1px solid var(--highlight-color);
}

.form-button {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: 250ms;
}

.form-button:focus {
  background-color: var(--highlight-color);
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
}

.dropdown-container {
  max-height: 9rem;
  width: 37%;
  overflow-y: scroll;
  border-radius: 0.25rem;
  background-color: var(--bg-color);
  position: absolute;
}

.dropdown-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dropdown-item {
  padding: 0.25rem;
  cursor: pointer;
  display: block;
}

.dropdown-item:hover {
  background-color: var(--primary-color-light);
  text-decoration: none;
}

.result {
  width: 48%;
  height: auto;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  transition: opacity 150ms ease-in 500ms;
}

.result-temp {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

.result-temp-num,
.result-temp-sym {
  font-size: 2rem;
}

.result-temp-scale {
  font-size: 2rem;
  align-self: center;
}

.result-icon-container {
  font-size: 3rem;
  margin: 0 auto;
}

.result-desc {
  text-align: center;
}

.result-humidity {
  padding-top: 1rem;
}

#app-container {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

#header {
  display: block;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color);
  text-align: center;
  letter-spacing: 0.1rem;
  transform: skewX(-10deg);
}

#forms-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

#results-container {
  height: 250px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

#feedback-container {
  margin-top: 1rem;
  transition: 250ms;
}

#feedback {
  line-height: 1.5rem;
  color: var(--feedback-color);
}